hr {
  color: red;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
button {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 920px;

