hr {
  color: red;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 24%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1000px;
}
footer {
  background-color: rgb(212, 14, 11);
}
